---
import Tag from '../components/Tag.astro';

const { frontmatter, url } = Astro.props;

// Formats dates for US schema
function formatDate(date: string) {
    return new Date(date).toLocaleDateString('en-US')
}
---

<!-- The whole post card is a link to the blog post -->
<a class="group flex-auto w-64 flex-grow-0 m-4 shadow-lg border-2 dark:border-zinc-800 dark:hover:bg-zinc-800 dark:hover:border-zinc-700 transition-all hover:shadow-2xl" href={url}>
    <img class="w-full h-48 object-cover" src={frontmatter.image.url} alt={frontmatter.image.alt}/>
    <h3 class="text-indigo-400 text-xl truncate px-1">
        <!-- Title gets truncated -->
        {frontmatter.title}
    </h3>
    <div class="flex border-b-2 border-blue-600 px-1">
        <h4 class="dark:text-indigo-100">
            by {frontmatter.author}
        </h4>
        <h4 class="dark:text-indigo-100 ml-auto">
            {formatDate(frontmatter.pubDate)}
        </h4>
    </div>
    <p class="dark:text-indigo-100 line-clamp-3 min-h-[4.5rem] px-1">
        <!-- Shows the first 3 lines of the description -->
        {frontmatter.description}
    </p>
    <p class="dark:text-white py-2 px-1">Read <span class="text-indigo-400 group-hover:border-b-2 border-blue-800 transition-all">More</span>...</p>
</a>